<file-overlay-ui (navclick)="onNavButtonsClicked($event)"></file-overlay-ui>
<div class="container-fluid bg-inverted" style="height:4vh">
  <div class="container bg-inverted shadow-sm">
    <div class="row">
      <div class="col-8">
        <p>Name</p>
      </div>
      <div class="col-2">
        <p style="justify-content: center;">Size</p>
      </div>
      <div class="col-2">
        <p style="justify-content: center;">Date</p>
      </div>
    </div>
  </div>
</div>
<div id="main" class="container-fluid bg-main" style="height:100vh">
  <file-file-folder (clicked)="onItemClicked($event)" *ngFor="let item of dirFolders" [item]="item"></file-file-folder>
  <file-file-folder *ngFor="let item of dirFiles" [item]="item"></file-file-folder>
</div>